body,html{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.headnya{
    width: auto;
    float: right;
    margin-top: 0px;
    font-size:20px;
    font-family: 'Nanum Gothic', sans-serif;
}
a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.headnya li{
    display: inline-block;
    padding: 15px 20px;
}
.wew{
    height: 35px;
    width: auto;

}
.headnya .material-icons { 
    color: white;
    font-size: 40px;
    float: left;
    top: -10px;
    position: relative;
    padding-right: 7px;
}
#e7_6 { 
	position:relative;
	width:auto;
	height:229px;
}
#e2_2 { 
	box-shadow:0px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(123.0000002682209, 31.000000052154064, 162.00000554323196, 1);
	opacity:1;
	width:100%;
	height:229px;
	position:absolute;
	left:0px;
	top:0px;
}

.e2_16 { 
	background-color:rgba(123.0000002682209, 31.000000052154064, 162.00000554323196, 1);
	opacity:1;
	width:78px;
	height:44px;
	position:absolute;
    right: 5px ;
    top : 5px;
}
.e2_16 .material-icons {
    font-size: 40px;
    position:absolute;
    left:20px;
    right:0;
    top:3px;
    bottom:0;
    color: white;
}
#e2_8 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:217px;
	height:62.02130126953125px;
	position:absolute;
	left:50px;
	top:92.97869873046875px;
	font-family:Timmana;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_11 { 
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:46.51149368286133px;
	height:47.61912155151367px;
	position:absolute;
	left:282px;
	top:99.3134765625px;
}
#e2_12 { 
	transform: rotate(90deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:62.610084533691406px;
	height:69.85443878173828px;
	position:absolute;
	left:52.390830993652344px;
	top:-7.404551982879639px;
	border-radius:5px;
}
#e2_13 { 
	transform: rotate(90deg);
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:62.610084533691406px;
	height:69.85443878173828px;
	position:absolute;
	left:56.06737518310547px;
	top:6.895379543304443px;
	border-radius:5px;
}

#e2_25 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:334px;
	height:39px;
	position:absolute;
	left:403px;
	top:102px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_0 { 
	opacity:1;
	width:33px;
	height:33px;
	position:absolute;
	left:990px;
	top:21px;
	background-image:lonceng.jpg;
	background-repeat:no-repeat;
}
#e4_1 { 
	opacity:1;
	width:33px;
	height:32px;
	position:absolute;
	left:1160px;
	top:23px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e2_30 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:104px;
	height:27px;
	position:absolute;
	left:1030px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_32 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:104px;
	height:27px;
	position:absolute;
	left:1198px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_37 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:53px;
	height:27px;
	position:absolute;
	left:1349px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_15 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:750px;
	height:55px;
	position:absolute;
	left:386px;
	top:87px;
}
#e2_8 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:217px;
	height:62.02130126953125px;
	position:absolute;
	left:50px;
	top:92.97869873046875px;
	font-family:Timmana;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_11 { 
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:46.51149368286133px;
	height:47.61912155151367px;
	position:absolute;
	left:282px;
	top:99.3134765625px;
}
#e2_12 { 
	transform: rotate(90deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:62.610084533691406px;
	height:69.85443878173828px;
	position:absolute;
	left:52.390830993652344px;
	top:-7.404551982879639px;
	border-radius:5px;
}
#e2_13 { 
	transform: rotate(90deg);
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:62.610084533691406px;
	height:69.85443878173828px;
	position:absolute;
	left:56.06737518310547px;
	top:6.895379543304443px;
	border-radius:5px;
}

#e2_25 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:334px;
	height:39px;
	position:absolute;
	left:403px;
	top:102px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_0 { 
	opacity:1;
	width:33px;
	height:33px;
	position:absolute;
	left:990px;
	top:21px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e4_1 { 
	opacity:1;
	width:33px;
	height:32px;
	position:absolute;
	left:1160px;
	top:23px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e2_30 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:104px;
	height:27px;
	position:absolute;
	left:1030px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_32 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:104px;
	height:27px;
	position:absolute;
	left:1198px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_37 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:53px;
	height:27px;
	position:absolute;
	left:1349px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_93 { 
	position:relative;
	opacity:1;
	width:322px;
	height:625px;
}
#e4_32 { 
	opacity:1;
	width:128px;
	height:129px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e4_33 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:58px;
	height:36px;
	position:absolute;
	left:149px;
	top:22px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_34 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:145px;
	height:31px;
	position:absolute;
	left:177px;
	top:68px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_37 { 
	opacity:1;
	width:26px;
	height:27px;
	position:absolute;
	left:157px;
	top:68px;
}
#e4_43 { 
	border-radius:500px;
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:19px;
	top:371px;
}
#e4_47 { 
	border-radius:500px;
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:19px;
	top:463px;
}
#e4_57 { 
	border-radius:500px;
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:19px;
	top:555px;
}
#e4_49 { 
	border-radius:500px;
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:19px;
	top:224px;
}
#e4_39 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:129px;
	height:26px;
	position:absolute;
	left:111px;
	top:245px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_44 { 
	color:rgba(202.93750405311584, 97.5791135430336, 52.42551326751709, 1);
	opacity:1;
	width:129px;
	height:26px;
	position:absolute;
	left:111px;
	top:285px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_45 { 
	color:rgba(0, 0, 0, 0.30000001192092896);
	opacity:1;
	width:183px;
	height:26px;
	position:absolute;
	left:111px;
	top:322px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_50 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:122px;
	height:26px;
	position:absolute;
	left:111px;
	top:393px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_51 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:122px;
	height:26px;
	position:absolute;
	left:111px;
	top:485px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_59 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:158px;
	height:26px;
	position:absolute;
	left:111px;
	top:578px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_42 { 
	opacity:1;
	width:45px;
	height:45px;
	position:absolute;
	left:32px;
	top:236px;
}
#e4_48 { 
	opacity:1;
	width:42px;
	height:46px;
	position:absolute;
	left:35px;
	top:383px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e4_56 { 
	opacity:1;
	width:45px;
	height:45px;
	position:absolute;
	left:32px;
	top:472px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e4_58 { 
	opacity:1;
	width:47px;
	height:44px;
	position:absolute;
	left:31px;
	top:569px;
}
#e2_106 { 
	position:relative;
	opacity:1;
	width:962px;
	height:965px;
}
#e2_47 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:360px;
	height:48px;
	position:absolute;
	left:103px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_48 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:676px;
	height:37px;
	position:absolute;
	left:103px;
	top:48px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_52 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	position:absolute;
	left:92px;
	top:91px;
}
#e2_55 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:252px;
	height:29px;
	position:absolute;
	left:2px;
	top:138px;
	font-family:Roboto;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_59 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:252px;
	height:29px;
	position:absolute;
	left:1px;
	top:345px;
	font-family:Roboto;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_60 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:252px;
	height:29px;
	position:absolute;
	left:1px;
	top:413px;
	font-family:Roboto;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_61 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:252px;
	height:30px;
	position:absolute;
	left:0px;
	top:492px;
	font-family:Roboto;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_56 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:252px;
	height:32px;
	position:absolute;
	left:2px;
	top:272px;
	font-family:Roboto;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_57 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:252px;
	height:29px;
	position:absolute;
	left:2px;
	top:204px;
	font-family:Roboto;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_62 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:457px;
	height:35px;
	position:absolute;
	left:322px;
	top:136px;
}
#e2_63 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:457px;
	height:35px;
	position:absolute;
	left:322px;
	top:204px;
}
#e2_64 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:457px;
	height:35px;
	position:absolute;
	left:322px;
	top:269px;
}
#e2_72 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:457px;
	height:35px;
	position:absolute;
	left:321px;
	top:336px;
}
#e2_83 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:80px;
	height:35px;
	position:absolute;
	left:316px;
	top:490px;
}
#e2_85 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:181px;
	height:35px;
	position:absolute;
	left:457px;
	top:489px;
}
#e4_30 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:181px;
	height:35px;
	position:absolute;
	left:282px;
	top:779px;
}
#e2_86 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:122px;
	height:35px;
	position:absolute;
	left:669px;
	top:489px;
}
#e2_79 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:59px;
	height:59px;
	position:absolute;
	left:321px;
	top:399px;
}
#e4_16 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:59px;
	height:59px;
	position:absolute;
	left:544px;
	top:399px;
}
#e4_18 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:59px;
	height:59px;
	position:absolute;
	left:767px;
	top:399px;
}
#e2_88 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:25px;
	height:27px;
	position:absolute;
	left:321px;
	top:494px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_89 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:123px;
	height:27px;
	position:absolute;
	left:463px;
	top:493px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_90 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:62px;
	height:27px;
	position:absolute;
	left:669px;
	top:493px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_102 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:8px;
	height:7px;
	position:absolute;
	left:376px;
	top:505px;
}
#e2_103 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:8px;
	height:7px;
	position:absolute;
	left:616px;
	top:506px;
}
#e2_104 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:8px;
	height:7px;
	position:absolute;
	left:770px;
	top:506px;
}
#e2_107 { 
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	width:155px;
	height:57px;
	position:absolute;
	left:298px;
	top:908px;
}
#e2_108 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:123px;
	height:27px;
	position:absolute;
	left:313px;
	top:923px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:283px;
	height:23px;
	position:absolute;
	left:326px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_4 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:283px;
	height:23px;
	position:absolute;
	left:326px;
	top:209px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_5 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:442px;
	height:23px;
	position:absolute;
	left:326px;
	top:276px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:283px;
	height:23px;
	position:absolute;
	left:325px;
	top:341px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:132px;
	height:33px;
	position:absolute;
	left:384px;
	top:412px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_17 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:132px;
	height:33px;
	position:absolute;
	left:607px;
	top:412px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_19 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:132px;
	height:33px;
	position:absolute;
	left:830px;
	top:412px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_22 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:33px;
	height:33px;
	position:absolute;
	left:334px;
	top:412px;
}
#e4_24 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	opacity:1;
	width:170px;
	height:176px;
	position:absolute;
	left:289px;
	top:579px;
}
#e4_26 { 
	opacity:1;
	width:138px;
	height:137px;
	position:absolute;
	left:305px;
	top:598px;
	background-image:url(data:image/png;base64,);
	background-repeat:no-repeat;
}
#e4_27 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:303px;
	height:30px;
	position:absolute;
	left:229px;
	top:821px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_31 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:163px;
	height:39px;
	position:absolute;
	left:294px;
	top:782px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
