body,html{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    padding-bottom: 200px;
}

header{
    width: 100%;
    height: 50px;
    background-color: #7B1FA2;
}

#e4_2 { 
    float: left;
	position:relative;
	opacity:1;
	width:280px;
	height:73px;
}
#e1_3 { 
	width:280px;
	height:73px;
	position:absolute;
	left:0px;
    top:0px;
    margin-top: 0px;
    border-top: 50px solid #E74C3C;
    border-right: 25px solid transparent;	
}
#e2_2 { 
	width:260px;
	height:64px;
	position:absolute;
	left:20px;
	font-family:Timmana;
	text-align:left;
	font-size:40px;
}


span{
    color: #ffffff;
}

.headnya{
    width: auto;
    float: right;
    margin-top: 0px;
}

.headnya li{
    display: inline-block;
    padding: 15px 20px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a:hover{
    color: #F0c330;
    transition: 0.5s;
}

.zzz{
    height: 400px;
    width: calc(100% - 200px);
    padding: 0 100px;
    background-color: #7B1FA2;
}

#e128_2 { 
	position:relative;
	opacity:1;
	width:545px;
	height:715px;
}
#e11_3 { 
	box-shadow:8px 0px 4px rgba(0, 0, 0, 0.3199999928474426);
	background-color:rgba(255, 143.00000667572021, 0, 1);
	opacity:1;
	border:1px solid rgba(255, 143.00000667572021, 0, 1);
	width:745px;
	height:715px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_11 { 
	color:rgba(255, 255, 255, 1);
	width:611px;
	height:185px;
	position:absolute;
	left:56px;
	top:233px;
	font-family:Noto Sans;
	text-align:left;
	font-size:75px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_2 { 
	position:absolute;
    background-image:url(photo-1489599849927-2ee91cede3ba.jpg)
    background-repeat:no-repeat;
