body,html{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    background-color: whitesmoke;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
header{
    width: 100%;
    height: 50px;
    background-color: #7B1FA2;
}

#e4_2 { 
    float: left;
	position:relative;
	opacity:1;
	width:280px;
	height:73px;
}
#e1_3 { 
	width:280px;
	height:73px;
	position:absolute;
	left:0px;
    top:0px;
    margin-top: 0px;
    border-top: 50px solid #E74C3C;
    border-right: 25px solid transparent;	
}
#e2_2 { 
	width:260px;
	height:64px;
	position:absolute;
	left:20px;
	font-family:Timmana;
	text-align:left;
	font-size:40px;
}


span{
    color: #ffffff;
}

.headnya{
    width: auto;
    float: right;
    margin-top: 0px;
}

.headnya li{
    display: inline-block;
    padding: 15px 20px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a:hover{
    color: #F0c330;
    transition: 0.5s;
}

.zzz{
    position:relative;
	opacity:1;
	width:100%;
	height:880px;
    background-color: white;
}

#e128_2 { 
	position:relative;
	opacity:1;
	width:100%;
	height:715px;
}
#e11_3 { 
	width:745px;
	height:713px;
	position:absolute;
	left:0px;
    top:0px;
    background-image: url("123.png");
    background-size: 745px 815px;
}
#e1_11 { 
	color:rgba(255, 255, 255, 1);
	width:611px;
	height:185px;
	position:absolute;
	left:56px;
	top:233px;
	font-family:Avenir Next Condensed Bold;
	text-align:left;
	font-size:75px;
	letter-spacing:0;
	line-height:undefined;
}
.zzz img { 
    max-width: 100%;
    right: 0px;
    position: absolute;
    background-repeat:no-repeat;
}
.container {
    padding-top: 70px;
    padding-left: 100px;
    width:1150px;
	height:700px;
}
.container div {
	float :left;
}
.box {
    position: relative;
    opacity: 1;
    width: 298px;
    height: 480px;
    padding-left: 50px;
    padding-right: 50px;
}
.e2_30 {
    color: white;
    background-color: #2C3E50;
    width: 184.44163513183594px;
    height: 36.513824462890625px;
    position: absolute;
    top: 440px;
    font-family: Roboto;
    text-align: center;
    font-size: 24px;
}

.e21_12 {
    background-color: #FF8F00;
    opacity: 1;
    width: 9.362519264221191px;
    height: 46.81259536743164px;
    position: absolute;
    top: 0px;
}
.e2_31 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:157.2903289794922px;
	height:23.40629768371582px;
	position:absolute;
	left:85.19891357421875px;
	top:545.8348999023438px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
.e21_11 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 1;
    width: 268px;
    height: 125px;
    position: absolute;
    top: 58.9838752746582px;
    background-repeat: no-repeat;
}
.e21_10 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 248px;
    height: 190px;
    position: absolute;
    top: 229.38172912597656px;
font-family: 'Nanum Gothic', sans-serif;
    font-size: 22px;
    padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
    padding-bottom: 0;
}
.e2_23 { 
	color:rgba(0, 0, 0, 1);
	width:308.963134765625px;
	height:232.1904754638672px;
	position:absolute;
	left:22.470022201538086px;
	top:241.55299377441406px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:undefined;
}
.e21_14 {
    color: black;
    width: 167.58909606933594px;
    height: 27.151304244995117px;
    position: absolute;
    top: 10.298772811889648px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
    line-height: undefined;
    left: 70px;
}
#e27_8 { 
	position: absolute;
	width:300px;
    height:580px;
    left : 950px;
    top : 40px;
}
#e11_5 { 
	background-color:rgba(255, 143.00000667572021, 0, 1);
	width:300px;
	height:580px;
	position:absolute;
	left:0px;
	top:0px;
}
#e21_2 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:20px;
	position:absolute;
	left:80px;
	top:30px;
	font-family:'Nanum Gothic', sans-serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:undefined;
}
#e21_6 { 
	color:rgba(255, 255, 255, 1);
	width:147.9278106689453px;
	height:20.59754180908203px;
	position:absolute;
	left:80px;
	top:240px;
	font-family:'Nanum Gothic', sans-serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:undefined;
}
#e21_9 { 
	color:rgba(255, 255, 255, 1);
	width:147.9278106689453px;
	height:20.59754180908203px;
	position:absolute;
	left:80px;
	top:420px;
	font-family:'Nanum Gothic', sans-serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:undefined;
}
#e21_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:112.35023498535156px;
	height:112.35023498535156px;
	position:absolute;
	left:100.17897033691406px;
	top:50.557594299316406px;
}

#e21_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:112.35023498535156px;
	height:112.35023498535156px;
	position:absolute;
	left:100.17897033691406px;
	top:242.48924255371094px;
}

#e21_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:112.35023498535156px;
	height:112.35023498535156px;
	position:absolute;
	left:100.17897033691406px;
	top:433.4846496582031px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 6px;
	
  }
.column {
	flex: 25%;
	max-width: 30%;
	padding: 0 6px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	
}
.zz{
    position:relative;
	width:100%;
	height:896px;
	top: 0;
	background-image: url("Group14.png");
	background-repeat: no-repeat;
}
.dlm{
	width:78%;
	height:715px;
	position:absolute;
 margin-left:auto;
 margin-right:auto;
 margin-top:auto;
 margin-bottom:auto;
 left:0;
 right:0;
 top:0;
 bottom:0;
}
.oh{
	width: 1100px;
    height: 50px;
    position: absolute;
	top: 680px;	
	left: 135px ;
}
.k2 { 
	position: absolute;
	width:100%;
    height:715px;
    margin: 0 auto;
}
.k2 img {
    width:100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
