body,html{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 200px;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 50px;
    background-color: #7B1FA2;
}

#e4_2 { 
    float: left;
	position:relative;
	opacity:1;
	width:280px;
	height:73px;
}
#e1_3 { 
	width:280px;
	height:73px;
	position:absolute;
	left:0px;
    top:0px;
    margin-top: 0px;
    border-top: 50px solid #E74C3C;
    border-right: 25px solid transparent;	
}
#e2_2 { 
	width:260px;
	height:64px;
	position:absolute;
	left:20px;
	font-family:Timmana;
	text-align:left;
	font-size:40px;
}


span{
    color: #ffffff;
}

.headnya{
    width: auto;
    float: right;
    margin-top: 0px;
}

.headnya li{
    display: inline-block;
    padding: 15px 20px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a:hover{
    color: #F0c330;
    transition: 0.5s;
}

.zzz{
    position:relative;
	opacity:1;
	width:100%;
	height:700px;
    background-color: white;
}

#e128_2 { 
	position:relative;
	opacity:1;
	width:545px;
	height:715px;
}
#e11_3 { 
	box-shadow:8px 0px 4px rgba(0, 0, 0, 0.3199999928474426);
	background-color: #FF8F00;
	opacity:1;
	border:1px solid #FF8F00;
	width:745px;
	height:713px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_11 { 
	color:rgba(255, 255, 255, 1);
	width:611px;
	height:185px;
	position:absolute;
	left:56px;
	top:233px;
	font-family:Noto Sans;
	text-align:left;
	font-size:75px;
	letter-spacing:0;
	line-height:undefined;
}
img { 
    max-width: 100%;
    right: 0px;
    position: absolute;
    background-repeat:no-repeat;
}
.container {
    padding-top: 70px;
    padding-left: 100px;
}
.container div {
	float :left;
}
.box {
    position: relative;
    opacity: 1;
    width: 298px;
    height: 504px;
    padding-left: 50px;
    padding-right: 50px;
}
.e2_30 {
    color: white;
    background-color: #2C3E50;
    width: 184.44163513183594px;
    height: 36.513824462890625px;
    position: absolute;
    top: 466.281px;
    font-family: Roboto;
    text-align: center;
    font-size: 24px;
}

.e21_12 {
    background-color: #FF8F00;
    opacity: 1;
    width: 9.362519264221191px;
    height: 46.81259536743164px;
    position: absolute;
    top: 0px;
}
.e2_31 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:157.2903289794922px;
	height:23.40629768371582px;
	position:absolute;
	left:85.19891357421875px;
	top:545.8348999023438px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
.e21_11 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 1;
    width: 298px;
    height: 165px;
    position: absolute;
    top: 58.9838752746582px;
    background-repeat: no-repeat;
}
.e21_10 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 287px;
    height: 211px;
    position: absolute;
    top: 229.38172912597656px;
font-family: 'Nanum Gothic', sans-serif;
    font-size: 24px;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 0;
}
.e2_23 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:308.963134765625px;
	height:232.1904754638672px;
	position:absolute;
	left:22.470022201538086px;
	top:241.55299377441406px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:undefined;
}
.e21_14 {
    color: black;
    opacity: 1;
    width: 167.58909606933594px;
    height: 27.151304244995117px;
    position: absolute;
    top: 10.298772811889648px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
    line-height: undefined;
    left: 70px;
}
